body{
    background-color: black;
    background-image: url(/assets/FODFNDNDNDND.jpeg)  ;
    background-size: cover;
}
h1{
    color: rgb(255, 255, 255);
}
header{
    text-align: center;
}
p{
    color: rgb(255, 255, 255);
}
