@font-face {
    font-family: 'ben10';
    src: url(/assets/BADABB__.TTF);
}
h1{
    font-family: 'ben10';
    color: rgb(255, 255, 255);
    font-size: 2.8em;
}
body{
    background-color: black;
    background-image: url(/assets/FODFNDNDNDND.jpeg)  ;
    background-size: cover;
}
header{
    text-align: center;
}
main{
    text-align: center;
}
p{
    color: rgb(255, 255, 255);
}
hr{
    color: white;
}
.container{
    color: white;
    font-family: 'ben10';
    color: rgb(255, 255, 255);
    font-size: 2em;

    height: 10em;
    border-style: solid;
    border-color: green;
    padding-top: 0.5%;
    padding-bottom: 16.5%;
    margin-right: 15%;
    margin-left: 15%;
    background-color: rgba(70, 230, 70, 0.089);
}
main{
    background-color: rgba(70, 230, 70, 0.089);
}
.carousel-inner{
    font-family: 'ben10';
    color: rgb(255, 255, 255);
}
footer{
    text-align: center;
    background-color: rgba(70, 230, 70, 0.089);
    color: white;
}
hr{
    background-color: rgba(70, 230, 70, 0.089);
}