@font-face {
    font-family: 'ben10';
    src: url(/assets/BADABB__.TTF);
}
h1{
    font-family: 'ben10';
    color: rgb(255, 255, 255);
    font-size: 2.8em;
}
body{
    background-color: black;
    background-image: url(/assets/FODFNDNDNDND.jpeg)  ;
    background-size: cover;
}
header{
    text-align: center;
}
p{
    color: rgb(255, 255, 255);
}
